<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<nb-card>
  <div class="row">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchEmail" [ngModelOptions]="{standalone: true}" placeholder="Search by email..." (keyup)="searchByName()">

        <!--    TODO: Addition search field not working-->
        <input type="text" class="form-control" [(ngModel)]="searchPaymentStatus" [ngModelOptions]="{standalone: true}" placeholder="Search by payment status..." (keyup)="searchByPaymentStatus()">

      </div>
  </div>
  </nb-card>


<nb-card>

  <div style="padding: 10px"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Payment Status</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Order Value</th>
      <th scope="col">Order Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td class="align-middle">{{item.payload.doc.data().dateTimeOfOrder | date : 'medium'}}</td>
      <td class="align-middle">{{item.payload.doc.data().user}}</td>
      <td class="align-middle">{{item.payload.doc.data().paymentStatus}}</td>
      <td class="align-middle">{{item.payload.doc.data().fulfillmentStatus}}</td>
      <td class="align-middle">{{item.payload.doc.data().orderPrice | number:'1.2-2'}}</td>
      <td class="align-middle" style="text-align: center">
        <button class="btn btn-outline-primary action" (click)="viewOrder(item)" type="button">
          →
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</nb-card>
