.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.container {
  max-width: 800px;
  padding: 20px !important;
  text-align: center;
  color: black;
}

.parent {
  text-align: center;
}

.child {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

#profile-picture {
  border-radius: 50% !important;
  overflow: hidden;
  display: inline-block;
}

#profile-picture-parent {
  padding-top: 30px !important;
  text-align: center;
}
