<ion-card>
  <img [src]="src" alt="Photo to predict" (load)="classifyImage(image, i)" >
  <ion-select class="product-input" [(ngModel)]="orderList[i]" required>
    <ion-select-option *ngFor="let product of productList" [selected]="results[0]?.className === product" [value]="product">{{product | titlecase}}</ion-select-option>
  </ion-select>
  <ion-card-content *ngIf="results[0]?.probability">
    <div>
      model labeled this image as {{results[0]?.className }} with a confidence of {{results[0]?.probability | number}}
    </div>
  </ion-card-content>
</ion-card>
