img{
  object-fit: contain;
  height: 200px;
}

ion-card{
  height: auto;
  width: 100%;
}

ion-select{
  width: 40%;
  border-radius: 15px;
  border: 1px solid #2B3339;
  background: rgba(255, 255, 255);
}
ion-card {
  padding: 20px;
}
