<div class="card-container">
    <ion-card>
        <div id="removeButton_container">
            <ion-button type="button" class="removeButton" fill="outline" color="danger" *ngIf="!(busy.indexOf(true) > -1)"
                        (click)="item.remove(); onDelete(i)">
                <i class="fa fa-times"></i>
            </ion-button>
        </div>
        <br>
        <br>
        <div class="display-img">
            <img [src]="src" alt="Photo to predict" (load)="classifyImage(image, i)" >
        </div>

        <br>
        <div id="itemType_container_parent">
            <ion-spinner *ngIf="busy[i]"></ion-spinner>
            <div id="itemType_container" *ngIf="!busy[i]">

                <ion-select class="product-input" [(ngModel)]="orderList[i]" (ionChange)="onChange($event, i)">
                    <ion-select-option *ngFor="let product of productList" [selected]="results[0]?.className === product" [value]="product">{{product | titlecase}}</ion-select-option>
                </ion-select>

                <div *ngIf="!timedout[i]"><strong><a>*</a> Edit if required</strong></div>

            </div>
        </div>




        <div class="error-message" *ngIf="timedout[i]">
            <ion-icon name="information-circle-outline"></ion-icon> Please input item type manually.
        </div>
        <ion-card-content *ngIf="results[0]?.probability">
            <!--        <div>-->
            <!--          Model labeled this image as {{results[0]?.className }} with a confidence of {{results[0]?.probability | number}}-->
            <!--        </div>-->
        </ion-card-content>
    </ion-card>
</div>

