<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splashpage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="splash-background">
    <div class="transparentbox">
        <img class="logo" src="../../assets/img/logo/trucksy_logo.png">
        <div id="description">Smart moving company makes delivery easy and convenient </div>
        <div class="spalsh-buttons">
            <ion-button shape="round" color="primary" (click)="toLogin()" >Login</ion-button>
            <ion-button shape="round" color="primary" (click)="toRegister()">Register</ion-button>
        </div>
    </div>

</ion-content>