<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Price Estimate</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title>Price Quote</ion-card-title>
      <ion-card-subtitle>Order ID: {{ orderID }}</ion-card-subtitle>
      <ion-card-subtitle>You can manually change item quantity</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>



  <ion-grid>

    <ion-row>
      <ion-col size="3">
        <b>Item</b>
      </ion-col>

      <ion-col size="3">
        <b>Unit Price</b>
      </ion-col>

      <ion-col size="3">
        <b>Qty</b>
      </ion-col>

      <ion-col size="3">
        <b>Sub Total</b>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div class="justify-content-center">
          Sofa
        </div>

      </ion-col>

      <ion-col size="3">
        ${{ sofaUnitPrice | number:'1.2-2' }}
      </ion-col>

      <ion-col size="3" class="justify-content-center">
        <ion-input (ionChange)="updateQtySofa()" [(ngModel)]="sofaQty" type="number"></ion-input>
      </ion-col>

      <ion-col size="3">
        ${{ sofaTotal | number:'1.2-2' }}
      </ion-col>

    </ion-row>

<!--    <ion-row>-->
<!--      <ion-col size="3">-->
<!--        Bed-->
<!--      </ion-col>-->

<!--      <ion-col size="3">-->
<!--        ${{ bedUnitPrice | number:'1.2-2' }}-->
<!--      </ion-col>-->

<!--      <ion-col size="3">-->
<!--        <ion-input (ionChange)="updateQtyBed()" [(ngModel)]="bedQty" type="number"></ion-input>-->
<!--      </ion-col>-->

<!--      <ion-col size="3">-->
<!--        ${{ bedTotal | number:'1.2-2' }}-->
<!--      </ion-col>-->

<!--    </ion-row>-->

    Total Price: ${{ totalPrice | number:'1.2-2'  }}
    <br>
    <br>
  </ion-grid>
<ion-button shape="round" color="primary" (click)="placeBooking()" *ngIf="!imageURL" fill="outline"> Place Booking Now</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
