.ion-padding {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-color:#2B3339;
}

ion-title img{
  display: flex;
  max-height: 50px;
  width: auto;
}

.page-title {
  text-align: center;
}

.page-title h2 {
  margin-top: 0;
  color: #D96725;
}

ion-card {
  margin: auto;
  border-radius: 15px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.51);
  padding: 60px 30px 60px 30px;
  max-height: 1028px;
  max-width:782px;
}

@media (max-width: 450px) {
  p {
    font-size: 14px;
  }
  ion-card {
    padding: 8px;
  }
}

.product-container {
  bottom: 2px;
  width: 90%;
  height: 22px;
  border: 1px solid #2B3339;
  border-radius: 3px;
  background-color: white;
}

.quantity-container {
  bottom: 2px;
  width: 30px;
  height: 22px;
  border: 1px solid #2B3339;
  border-radius: 3px;
  background-color: white;
}

.quantity-input {
  height: 100%;
  width: 160%;
}

.product-input {
  bottom: 10px;
}

/* Button */

.twobutton-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.orangeButton {
  padding: 15px 36px;
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 0.4);
  background-color:#F2561D;
  border-radius:20px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  text-decoration:none;
  border: 0px;
}

.orangeButton:hover {
  background-color:#d96725;
}
.orangeButton:active {
  top:1px;
}


.greyButton {
  padding: 15px 36px;
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 0.4);
  background-color:#F2F2F2;
  border-radius:20px;
  display:inline-block;
  cursor:pointer;
  color:#FB5E09;
  font-size:16px;
  text-decoration:none;
  border: 0px;
}

.greyButton:hover {
  background-color: #dfdfdf;
}
.greyButton:active {
  top:1px;
}
/* End of Button */
