.mediaViewInfo {
	--web-view-name: Registration;
	--web-view-id: Registration;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Registration;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Registration {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Registration;
	--web-view-id: Registration;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#person_hand_on_steering_wheel_ {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#BG_filter {
	opacity: 0.27;
}
.BG_filter {
	filter: drop-shadow(30px 30px 50px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 2086px;
	height: 1230px;
	left: -8px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	opacity: 0.57;
}
.Path_10 {
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
	overflow: visible;
	position: absolute;
	width: 894px;
	height: 860px;
	left: 536px;
	top: 169px;
	transform: matrix(1,0,0,1,0,0);
}
#Password {
	position: absolute;
	width: 723px;
	height: 74px;
	left: 597px;
	top: 466px;
	overflow: visible;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 723px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Mobile_Number {
	position: absolute;
	left: 32px;
	top: 27px;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
#Password_ {
	position: absolute;
	width: 723px;
	height: 74px;
	left: 597px;
	top: 570px;
	overflow: visible;
}
.Rectangle_21_ {
	position: absolute;
	overflow: visible;
	width: 723px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Email {
	position: absolute;
	left: 32px;
	top: 27px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
#Password_bb {
	position: absolute;
	width: 723px;
	height: 74px;
	left: 597px;
	top: 674px;
	overflow: visible;
}
.Rectangle_21_bc {
	position: absolute;
	overflow: visible;
	width: 723px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Password_bd {
	position: absolute;
	left: 32px;
	top: 27px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
#Group_36 {
	position: absolute;
	width: 351px;
	height: 74px;
	left: 597px;
	top: 362px;
	overflow: visible;
}
.Rectangle_21_bf {
	position: absolute;
	overflow: visible;
	width: 351px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#First_Name {
	position: absolute;
	left: 32px;
	top: 27px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
#Group_37 {
	position: absolute;
	width: 352px;
	height: 74px;
	left: 968px;
	top: 362px;
	overflow: visible;
}
.Rectangle_21_bi {
	position: absolute;
	overflow: visible;
	width: 352px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Last_Name {
	position: absolute;
	left: 32px;
	top: 27px;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
.Rectangle_23 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 68px;
	left: 898px;
	top: 778px;
}
#Login {
	position: absolute;
	left: 934px;
	top: 791px;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(242,242,242,1);
}
#By_signing_up__you_agree_to_ou {
	position: absolute;
	left: 610px;
	top: 858px;
	overflow: visible;
	width: 616px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -6px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,51,57,1);
}
#Trucksy {
	position: absolute;
	left: 947px;
	top: 236px;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(60,58,57,1);
}
#Trucksy_Logo {
	position: absolute;
	width: 148.123px;
	height: 69px;
	left: 770px;
	top: 231px;
	overflow: visible;
}
.Union_2_bq {
	overflow: visible;
	position: absolute;
	width: 103.953px;
	height: 58.983px;
	left: 44.169px;
	top: 1.932px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 21.133px;
	height: 22.453px;
	left: 122.499px;
	top: 46.547px;
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 13.208px;
	height: 14.529px;
	left: 126.461px;
	top: 50.509px;
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 21.133px;
	height: 22.453px;
	left: 67.026px;
	top: 46.547px;
}
.Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 13.208px;
	height: 14.529px;
	left: 70.988px;
	top: 50.509px;
}
.Polygon_1 {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,33.4206,6.6963) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_1_bw {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,32.4838,13.8879) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_1_bx {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,31.6865,21.0791) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_1_by {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,30.8902,28.234) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_1_bz {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,30.2329,35.271) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_2 {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,38.0277,-17.3166) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_2_b {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,29.0927,-11.4531) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_2_ca {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,24.2063,-5.5895) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_2_cb {
	overflow: hidden;
	position: absolute;
	width: 3.769px;
	height: 39.789px;
	transform: translate(0px, 0px) matrix(1,0,0,1,18.0634,0.5535) rotate(-88deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 13.989px;
	height: 12.062px;
	transform: translate(0px, 0px) matrix(1,0,0,1,129.8235,28.6546) rotate(7deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}