<ion-content class="home-background">
	<ion-grid style="height: 100%">
		<ion-row justify-content-center align-items-center style="height: 100%">
			<ion-col
					class="ion-align-self-center"
					size-xs="10"
					size-sm="8"
					size-md="6"
					size-lg="6"
			>
			<div class="transparentbox">
				<form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)" style="height: 100%">
				<div id="contents">
					<img class="logo" src="../../assets/img/logo/trucksy_logo.png">

					<div id="form" [hidden]="forgotPassword">
<!--						<ion-row justify-content-around>-->
<!--							<ion-item *ngIf="!usernameCtrl.valid && usernameCtrl.touched">-->
<!--								<ion-text color="danger">Please enter a valid e-mail address</ion-text>-->
<!--							</ion-item>-->
<!--						</ion-row>-->
							<input id="username" type="email" [(ngModel)]="username"
									   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									   required #usernameCtrl="ngModel" name="username" placeholder="Username">

							<input id="password" type="password" [(ngModel)]="password"
									   required #passwordCtrl="ngModel" name="password" placeholder="Password">

							<div id="footer">
								<div id="remember">
									<input type="checkbox" id="remember-checkbox" class="checkbox" checked="checked"/>
									<span>Keep me signed in</span>
								</div>
								<br>
								<div id="forgot">
									<span (click)="forgotPasswordButton()">Forgot your password?&emsp;</span>
								</div>
							</div>
<!--						<ion-row justify-content-around>-->
							<button class="orangeButton" id="login" type="submit" fill="solid" color="primary" (click)="login()">Login</button>
<!--						</ion-row>-->

					</div>

					<div *ngIf="forgotPassword">
						<strong>Enter your email you signed up with for password recovery:</strong><hr>
						<ion-item id="rounded">
							<ion-input type="email"
									   value = {{this.username}}
									   [(ngModel)]="username"
									   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									   required #usernameCtrl="ngModel" name="username"></ion-input>
						</ion-item>

						<ion-row justify-content-around>
							<ion-button type="submit" fill="solid" color="primary" (click)="resetPassword()">Send Reset Link</ion-button>
						</ion-row>
					</div>
				</div>
				</form>
			</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

