.home-background {
    --background: url('../../assets/img/background/login.jpg') no-repeat center center fixed;
    --background-size: cover;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

#testing{
    width: 200px; 
    height: 100px; 
    margin-left: auto;
    margin-right: auto;
}

// .login-box{
//     max-width: 500px; 
//     max-height: 300px;
//     //width:100%; 
//     //margin: center; 
//     text-align: center;
//     //height: 100%;
//     display: block;
//     //vertical-align: middle;
// }

#rounded {
    margin-left:auto; 
    margin-right: auto; 
    border: solid 1px orange;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}

#login {
//     width: 500px; 
//     margin-top:250px; 
//     margin-bottom: auto; 
    margin-left:auto; 
    margin-right: auto; 
    margin: center; 
}


/* Login container */
.transparentbox {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //width: 834px;
    height: 464px;
    background-color: rgba(253, 253, 253, 0.51);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.51);
}

/* Login form container */
#contents {
    height: 100%;
    display: grid;
    grid-template-rows: 0.75fr 1.75fr;
    //grid-template-columns: 2fr;
    grid-template-areas:
            "header"
            "form"
}

#form {
    grid-area: form;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "username username"
            "password password"
            "footer footer"
            "login login"
}

.logo {
    height: 50%;
    width: auto;
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#username {
    grid-area: username;
    height: 60%;
    margin: 10px 10%;
    display: block;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    background: rgba(255, 255, 255);
}
#password {
    grid-area: password;
    height: 60%;
    margin: 10px 10%;
    display: block;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    background: rgba(255, 255, 255);
}

#footer {
    grid-area: footer;
    margin: 10px 10%;
    justify-content: center
}

#remember {
    justify-content: flex-start;
}

#forgot {
    cursor: pointer;
    justify-content: flex-end;
}

.orangeButton {
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 0.4);
    background-color:#F2561D;
    border-radius:14px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    text-decoration:none;
    border: 0px;
}

#login {
    grid-area: login;
    padding: 15px 36px;
    justify-self: center;
    align-self: start;
}

.orangeButton:hover {
    background-color:#d96725;
}
.orangeButton:active {
    top:1px;
}


strong {
    display: block;
    text-align: center;
}
