<ion-header>
  <ion-toolbar>
    <ion-title>Order No: {{ orderID }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid class="padding">
    <br>
    <ion-button shape="round" color="primary" routerLink="/admin-orders"> < Orders</ion-button> <br>
    <span><h1>Order ID #{{ orderID }}</h1>

        <ion-chip color="success">
          <ion-label>{{ paymentStatus }}</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label>{{ fulfillmentStatus }}</ion-label>
        </ion-chip>

      </span>

    <ion-row>

      <!--      Left Col-->
      <ion-col size="8">
        <div>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Fulfilled</ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle>Pick Up</ion-card-subtitle>
                  Address: {{ pickUpAddress }}<br>
                  Time: {{ dateTimeOfPickup }}
                </ion-col>
                <ion-col size="6">
                  <ion-card-subtitle>Drop Off</ion-card-subtitle>
                  Address: {{ dropOffAddress }}<br>
                  Time: {{ dateTimeOfDropoff }}
                </ion-col>
              </ion-row>

              <br>
              <br>

              <ion-row>
                <ion-col size="7">
                  Tables
                  {{orderItemsActual}}

<!--                  TODO: display object-->
<!--                  <ion-row *ngFor="let orderItem of orderItemsActual">-->
<!--                    <ion-col size="2">-->
<!--                      <div>-->
<!--                        <ion-row>-->
<!--                          <p>{{orderItem }}</p>-->
<!--                        </ion-row>-->
<!--                      </div>-->
<!--                    </ion-col>-->

                </ion-col>

                <ion-col size="3">
                  $70.00 x 2
                </ion-col>

                <ion-col size="2">
                  ${{orderPrice}}
                </ion-col>
                <br>
              </ion-row>
            </ion-card-content>
          </ion-card>



          <ion-card>
            <ion-card-header>
              <ion-card-title>Paid</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                <ion-col size="7">
                  Subtotal
                </ion-col>

                <ion-col size="3">
                  1 item
                </ion-col>

                <ion-col size="2">
                  ${{orderPrice}}
                </ion-col>
                <br>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <br>
          Timeline

        </div>
      </ion-col>

<!--      Right Col-->
      <ion-col size = "4">
        <div>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Notes</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Write notes on customer here
              <br>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Driver</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Completed: 1 Order
              <hr>
              <ion-card-subtitle>Contact Infomation</ion-card-subtitle>
              <br>
              Jon Doh<br>
              Driver ID: {{ driverID }}<br>
              +65 9123 1234<br>
              <br>

              <ion-card-subtitle>Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412
              <br>
              <br>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Customer</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              1 Order
              <hr>
              <ion-card-subtitle>Contact Infomation</ion-card-subtitle>
              <br>
              Jon Doh<br>
              {{ user }}<br>
              +65 9123 1234<br>
              <br>

              <ion-card-subtitle>Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412
              <br>
              <br>

              <ion-card-subtitle>Billing Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412

            </ion-card-content>
          </ion-card>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
