

<ion-content>


  <ion-grid class="padding">
    <br>
    <ion-button shape="round" color="primary" routerLink="/pages/AdminOrderListing"> Orders</ion-button> <br>
    <span><h1>Order ID #{{ orderID }}</h1>


      <ion-chip *ngIf="paymentStatus ==='Paid'|| paymentStatus ==='Cash On Delivery'" color="success">
          <ion-label>{{ paymentStatus }}</ion-label>
      </ion-chip>

      <ion-chip *ngIf="paymentStatus ==='Booking Date Not Confirmed'" color="warning">
          <ion-label>{{ paymentStatus }}</ion-label>
      </ion-chip>

      <ion-chip *ngIf="fulfillmentStatus ==='Order Placed'" color="success">
          <ion-label>{{ fulfillmentStatus }}</ion-label>
      </ion-chip>

      <ion-chip *ngIf="fulfillmentStatus ==='Order Not Confirmed'" color="warning">
          <ion-label>{{ fulfillmentStatus }}</ion-label>
      </ion-chip>

      </span>

    <ion-row>

      <!--      Left Col-->
      <ion-col size="8">
        <div>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Fulfilled</ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle>Pick Up</ion-card-subtitle>
                  Address: {{ pickUpAddress }}<br>
                  Time: {{ dateTimeOfPickup | date:"medium" }}
                </ion-col>
                <ion-col size="6">
                  <ion-card-subtitle>Drop Off</ion-card-subtitle>
                  Address: {{ dropOffAddress }}<br>
                  Time: {{ dateTimeOfDropoff | date:"medium" }}
                </ion-col>
              </ion-row>

              <br>
              <br>

              <ion-row>
                <ion-col size="7">
                  {{orderItemsActual}}
                  <ion-row *ngFor="let orderItem of key">
                    <p>{{orderItem | titlecase }}</p>
                  </ion-row>

<!--                  TODO: display object-->
<!--                  <ion-row *ngFor="let orderItem of orderItemsActual">-->
<!--                    <ion-col size="2">-->
<!--                      <div>-->
<!--                        <ion-row>-->
<!--                        </ion-row>-->
<!--                      </div>-->
<!--                    </ion-col>-->

                </ion-col>

                <ion-col size="3">
                  <!-- $70.00 x 2 -->
                  <ion-row *ngFor="let ordervalue of value">
                    <p>{{ ordervalue }}</p>
                  </ion-row>
                </ion-col>

                <ion-col size="2">
                  <ion-row *ngFor="let price of priceList">
                    <p>$ {{ price }}</p>
                  </ion-row>
<!--                  ${{orderPrice}}-->
                </ion-col>
                <br>
              </ion-row>
            </ion-card-content>
          </ion-card>



          <ion-card>
            <ion-card-header>
              <ion-card-title>Paid</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                <ion-col size="7">
                  Total
                </ion-col>

                <ion-col size="3">
                  <span *ngIf="orderItemsActualTotal == 1">{{ orderItemsActualTotal }} item</span>
                  <span *ngIf="orderItemsActualTotal > 1">{{ orderItemsActualTotal }} items</span>
                </ion-col>


                <ion-col size="2">
                  ${{orderPrice}}
                </ion-col>
                <br>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <br>
<!--          Timeline-->

        </div>
      </ion-col>

<!--      Right Col-->
      <ion-col size = "4">
        <div>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Notes</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-textarea rows="4" cols="20" placeholder="Enter any notes here..."></ion-textarea>
              </ion-item>
              <br>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Driver</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <!-- Completed: 1 Order
              <hr> -->
              <ion-card-subtitle>Contact Infomation</ion-card-subtitle>
              <br>
              Jon Doh<br>
              Driver ID: {{ driverID }}<br>
              Contact Number: +65 9123 1234<br>
              <br>

              <!-- <ion-card-subtitle>Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412
              <br>
              <br> -->

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Customer</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-card-subtitle>Contact Infomation</ion-card-subtitle>
              <br>
              UserName: {{ user }}<br>
              Contact Number: +65 9123 1234<br>
              <br>
<!-- 
              <ion-card-subtitle>Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412
              <br>
              <br>

              <ion-card-subtitle>Billing Address</ion-card-subtitle>
              <br>
              Blk 123 Victoria Street
              Singapore 123412 -->

            </ion-card-content>
          </ion-card>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
