<ion-content>
    <ion-grid class="container">

        <app-loading class="center" *ngIf="busy"></app-loading>

<!--        <input type="file" id="files" name="files[]" class="mobileNetUploadBtn" (change)="fileChangeEvent($event)" #mobileNetUploadBtn />-->

<!--        <div>-->
<!--            <ion-button shape="round" color="primary" (click)="uploadFileMNet()" fill="outline"> Upload Image to Get a Quote</ion-button>-->
<!--        </div>-->

<!--        This div is hidden-->
       <div *ngIf="!imageURL" class="center">

           <div class="upload" [hidden]="!model">
               Upload an image:
               <input #fileUpload type="file" id="files" name="files[]" (change)="fileChangeEvent($event)" />
           </div>

           <img #chosenImage width="224" height="224" class="sample-image" />
           <div class="predictions">
               <div *ngFor="let class of classes" class="row">
                   <div class="col-sm-6">
                       {{class.className}}
                   </div>
                   <div class="col-sm-6">
                       {{class.probability.toFixed(3)}}
                   </div>
                   <div class="col-sm-6">
                    {{class.confidence}}
                </div>
               </div>
           </div>
           
        </div>



        <div class="center" *ngIf="!busy">

            <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />

            <div class="hide-div" *ngIf="!uploadFail" >
                <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline"> Upload Image to Get a Quote</ion-button>
            </div>

            <div *ngIf="uploadFail" >
                Unable to accurately classify, please upload again <br>
                Here are some samples of good angles to try <br>
                <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline"> Please Upload Again</ion-button>
            </div>

            <div *ngIf="imageURL" >
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-img src="https://ucarecdn.com/{{ imageURL }}/-/preview/{{ activeEffect }}"></ion-img>
                            <ion-card-content>
                                <div *ngIf="image1Classification" >Item: {{ image1Classification }}</div>
                                <ion-textarea placeholder="Enter additional shifting insturctions" [(ngModel)]="desc"></ion-textarea>
                                <ion-button shape="round" color="primary" (click)="createOrder()">Continue</ion-button>

                            </ion-card-content>
                        </ion-col>
                    </ion-row>




                </ion-grid>


            </div>
        </div>
    </ion-grid>





</ion-content>
