<!-- <ion-content>
    <ion-grid class="container">

        <app-loading class="center" *ngIf="busy"></app-loading>



       <div class="upload" [hidden]="!model">
           Upload an image: <input #fileUpload type="file" id="files" name="files[]" (change)="fileChangeEvent($event)" />
       </div>

       <div>
           <img #chosenImage width="224" height="224" class="sample-image" />
           <div class="predictions">
               <div *ngFor="let class of classes" class="row">
                   <div class="col-sm-6">
                       {{class.className}}
                   </div>
                   <div class="col-sm-6">
                       {{class.probability.toFixed(3)}}
                   </div>
                   <div class="col-sm-6">
                    {{class.confidence}}
                </div>
               </div>
           </div>
           
        </div>



        <div class="center" *ngIf="!busy">

            <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />

            <div *ngIf="!uploadFail" >
                <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline"> Upload Image to Get a Quote</ion-button>
            </div>

            <div *ngIf="uploadFail" >
                Unable to accurately classify, please upload again <br>
                Here are some samples of good angles to try <br>
                <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline"> Please Upload Again</ion-button>
            </div>

            <div *ngIf="imageURL" >
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-img src="https://ucarecdn.com/{{ imageURL }}/-/preview/{{ activeEffect }}"></ion-img>
                            <ion-card-content>
                                <div *ngIf="image1Classification" >Item: {{ image1Classification }}</div>
                                <ion-textarea placeholder="Enter additional shifting insturctions" [(ngModel)]="desc"></ion-textarea>
                                <ion-button shape="round" color="primary" (click)="createOrder()">Continue</ion-button>

                            </ion-card-content>
                        </ion-col>
                    </ion-row>




                </ion-grid>


            </div>
        </div>
    </ion-grid>





</ion-content> -->

  <div class="mat-app-background basic-container">
      <strong> {{ title }} </strong>
      <mat-tab-group>
    
        <mat-tab label="Predict">
          <div>
            <!--The content below is only a placeholder and can be replaced.-->
            <br>
    
            <div *ngIf="!classifierReady">
              Loading ... {{modelName}}
            </div>
    
            <div *ngIf="classifierReady">
              <div>
                {{classifier.modelName}} model is ready for prediction
              </div>
    
              <br>
    
              <div>
                <label for="singleFile">Upload file(s) for prediction</label><br>
                <input mat-stroked-button id="singleFile" type="file" ng2FileSelect [uploader]="uploader" multiple />
              </div>
            </div>
            <br>
            <br>
            <mat-divider></mat-divider>
    
            <div [id]="i" *ngFor="let item of uploader.queue.reverse(); let i = index">
              <app-image-predictor [classifier]="classifier" [image]="item?.file">
              </app-image-predictor>
            </div>
          </div>
    
        </mat-tab>
      </mat-tab-group>
    </div>
