<ion-content>
    <br>

    <div>
        <label for="singleFile">Upload file(s) for prediction</label><br>
        <input id="singleFile" type="file" ng2FileSelect [uploader]="uploader" multiple accept="image/*"/>
    </div>

    <br>
    <br>

    <div [id]="i" *ngFor="let item of uploader.queue; let i = index">
        <image-predictor [image]="item?.file" [productList]="productList" [orderList]="orderList" [i]="i">
        </image-predictor>
    </div>

    <button class="orangeButton" id="bookingButton" type="submit" fill="solid" (click)="createOrder()">Accept</button>

</ion-content>
