.logotext {
  height: 100%;
  display: block;
  vertical-align: middle;
}

h3{
  text-align: center;
  color: #D96725;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.logobutton {
  text-align:center;
}

.container {
  max-width: 800px;
  padding: 20px !important;
}

ion-title img{
  display: flex;
  max-height: 50px;
  width: auto;
}