<ion-header translucent>
  <ion-toolbar>
    <ion-title class="logotext">Rentalorry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>


    <ion-grid class="container">
      <ion-row>
        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/lorry-rental.jpg" />
              <ion-card-header>
                <ion-card-title>Vehicle Rentals</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Suitable for those who only require the vehicles. We provide long term and short term leasing.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/movers-and-packers.jpg" />
              <ion-card-header>
                <ion-card-title>Mover Service</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Movers will be there to help you pack and wrap up all your furniture. Quick and highly efficient.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>


    <ion-grid class="container">
      <ion-row>


        <ion-col size="12">
          <div>

            <ion-card>
              <img src="../../assets/img/home/Vehicle-Fleet-Home-Page-Banner.jpg" />
              <ion-card-header>
                <ion-card-title>Alternative Vehicles</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Aside from lorry rentals, we do provide other types of vehicles to serve other purposes. Below is a list of other commercial vehicles  and other services which we have in our fleet:
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!--  Cards of icons-->
    <ion-grid class="container">
      <h1 class="ion-align-items-center">Our Services</h1>
      <ion-row>

        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/singapore-skyline.jpg" />
              <ion-card-header>
                <ion-card-title>Chartered Transport</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Our friendly and professional drivers will be able to bring you around Singapore and Malaysia and show you the local sights and sounds.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/airport-transfers.jpg" />
              <ion-card-header>
                <ion-card-title>Airport Transfers</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Need a vehicle to transport a group of passengers along with their luggage? We have a range of vehicles that can support any group size.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!--  Cards of icons-->
    <ion-grid class="container">
      <ion-row>

        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/limousine-service.jpg" />
              <ion-card-header>
                <ion-card-title>Limousine Service</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                The limousine service would be just right to ferry your important guest around or if you need specialized transport for a special event.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

        <ion-col size="6">
          <div>

            <ion-card>
              <img src="../../assets/img/home/shuttle-services-banner.jpg" />
              <ion-card-header>
                <ion-card-title>Shuttle Services</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Whether it is to ferry workers or school children, we are able to provide shuttle services between desired locations. Suitable for any number of passengers.
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>



</ion-content>
