<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../assets/img/logo/trucksy_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="progbar_container">
    <ul class="progressbar">
      <li>Delivery Details</li>
      <li>Payment</li>
      <li class="active">Confirmation</li>
    </ul>
  </div>


Order confirmed for {{ orderID }}!
  <br>



<ion-button shape="round" color="primary" (click)="completeOrder()" *ngIf="!imageURL" fill="outline"> Back to Feed</ion-button>
</ion-content>
