<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../assets/img/logo/trucksy_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<h3>Confirmation</h3>
<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col
              class="ion-align-self-center"
              style="height:100%"
              size-xs="12"
              size-sm="10"
              size-md="10"
              size-lg="6"
      >
  <div class="progbar_container">
    <ul class="progressbar">
      <li>Delivery Details</li>
      <li>Payment</li>
      <li class="active">Confirmation</li>
    </ul>
  </div>

  <div class="ion_card">
    <ion-card>
      <ion-card-content>
        <h4 class="confirmation-header">Order confirmed for {{ orderID }}!</h4>
        <p class="confirmation-text">Thank you for using Trucksy, a confirmation email and SMS has been sent to you.</p>
        <p class="confirmation-text">
          Do contact us at
          <span class="contact-details">sales@rentalorrysingapore.com</span> or
          <span class="contact-details">6589 8964</span>
          for any enquiries. Have a great day!
      </ion-card-content>
    </ion-card>
  </div>

  <div class="singlebutton-container">
    <button class="orangeButton" id="home" type="submit" fill="solid" *ngIf="!imageURL" (click)="completeOrder()">Home</button>
  </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
