<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  {{ orderID }}
Enter your credit card details below
  <br>
  <ion-button shape="round" color="primary" (click)="pay(this.orderPrice)" *ngIf="!imageURL" fill="outline">Complete Payment</ion-button>
  <br>
  <ion-button shape="round" color="primary" (click)="codPayment()" *ngIf="!imageURL" fill="outline">Cash On Delivery</ion-button>
  <br>
  <ion-button shape="round" color="primary" (click)="failedPayment()" *ngIf="!imageURL" fill="outline">Simulate Payment Failed</ion-button>

</ion-content>
