<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../assets/img/logo/trucksy_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>
<h3>Payment</h3>
<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col
              class="ion-align-self-center"
              style="height:100%"
              size-xs="12"
              size-sm="10"
              size-md="10"
              size-lg="6"
      >

  <div class="progbar_container">
    <ul class="progressbar">
      <li>Delivery Details</li>
      <li class="active">Payment</li>
      <li>Confirmation</li>
    </ul>
  </div>

<form action="/" method="post" id="payment-form">
  <div class="ion_card">
    <ion-card>
      <ion-card-content>
          <ion-row>
            <ion-col col-1>
              <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
              <!-- Used to display Element errors -->
              <div id="card-errors" role="alert"></div>
            </ion-col>
          </ion-row>
        <div id="text-container">
          Total Billed: ${{orderPrice}}
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="singlebutton-container">
    <button class="orangeButton" id="paymentButton" type="submit" *ngIf="!imageURL" fill="solid">Pay</button>
  </div>
</form>



<!--  <br>-->
<!--  <ion-button shape="round" color="primary" (click)="pay(this.orderPrice)" *ngIf="!imageURL" fill="outline">Complete Payment</ion-button>-->
<!--  <br>-->
<!--  <ion-button shape="round" color="primary" (click)="codPayment()" *ngIf="!imageURL" fill="outline">Cash On Delivery</ion-button>-->
<!--  <br>-->
<!--  <ion-button shape="round" color="primary" (click)="failedPayment()" *ngIf="!imageURL" fill="outline">Simulate Payment Failed</ion-button>-->


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

