#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}

.order-card {
	width: 100%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.main-image, .user-image {
	width: 200px;
	height: 200px;
}

#profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
	overflow: hidden;
	display: inline-block;
}

.profile-picture-parent {
	padding-top: 30px !important;
	text-align: center;
}

.order-card-parent {
	text-align: center;
}

.order-card-child {
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.container {
	max-width: 800px;
	padding: 20px !important;
	text-align: center;
}

.firstname {
	color: black;
}

.date {
	text-align: right;
}

.orderID {
	text-align: left;
}
