<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6"><div id="barChart"></div></ion-col>
            <ion-col size="6"><div id="barChart"></div></ion-col> 
        </ion-row>
    </ion-grid>

    <!-- <ion-content>
        <ion-list-header color="light">Deliveries</ion-list-header>
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
            <ion-card-title>
              {{title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div id="barChart"></div>
          </ion-card-content>
        </ion-card>
      </ion-content> -->

</ion-content>
