<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Order By</h1>
            </ion-col>
            <ion-col>
                <h1>View Details</h1>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of items">
            <ion-col size="3">
                <div>
                    <ion-row>
                        <p>{{item.payload.doc.data().user}}</p>
                    </ion-row>
                </div>
            </ion-col>

            <ion-col size="3">
                <div>
                    <ion-button class="btn btn-outline-primary action" (click)="viewUser(item)" type="button">
                        <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--<div class="row">-->
    <!--  <div class="col-md-4 offset-md-1">-->
    <!--    <div class="input-group">-->
    <!--      <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">-->
    <!--      <div class="input-group-append">-->
    <!--        <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-6 filter-by-age">-->
    <!--    <div class="row">-->
    <!--      <div class="col-md-auto title">-->
    <!--        <span>Filter by age (older than):</span>-->
    <!--      </div>-->


    <!--      <div class="col">-->
    <!--        <span>0 </span>-->
    <!--&lt;!&ndash;        <mat-slider&ndash;&gt;-->
    <!--&lt;!&ndash;                class="age-slider"&ndash;&gt;-->
    <!--&lt;!&ndash;                max="100"&ndash;&gt;-->
    <!--&lt;!&ndash;                min="0"&ndash;&gt;-->
    <!--&lt;!&ndash;                step="1"&ndash;&gt;-->
    <!--&lt;!&ndash;                thumbLabel="true"&ndash;&gt;-->
    <!--&lt;!&ndash;                (ngModel)="ageValue"&ndash;&gt;-->
    <!--&lt;!&ndash;                (change)="rangeChange($event)">&ndash;&gt;-->
    <!--&lt;!&ndash;        </mat-slider>&ndash;&gt;-->
    <!--        <span> 100</span>-->

    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

    <!--<ion-grid>-->
    <!--  <ion-row>-->
    <!--    <ion-col>-->
    <!--      <div>-->
    <!--        <ion-row *ngFor="let item of items" class="ion-nowrap">-->
    <!--              <h5>{{item.payload.doc.data().username}}</h5>-->
    <!--        </ion-row>-->
    <!--      </div>-->
    <!--    </ion-col>-->
    <!--    <ion-col>-->
    <!--      <div>-->
    <!--        2 of 3-->
    <!--      </div>-->
    <!--    </ion-col>-->
    <!--    <ion-col>-->
    <!--      <div>-->
    <!--        3 of 3-->
    <!--      </div>-->
    <!--    </ion-col>-->
    <!--  </ion-row>-->
    <!--</ion-grid>-->

    <!--<div class="list-group users-list">-->
    <!--  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">-->
    <!--    <div class="row">-->

    <!--      <div class="col col-md-2 image-col">-->
    <!--        <img class="image" [src]="item.payload.doc.data().profilePic">-->
    <!--      </div>-->

    <!--      <div class="col col-md-8 text-col">-->

    <!--        <h5 class="mb-1">{{item.payload.doc.data().username}}</h5>-->
    <!--&lt;!&ndash;        <small>Age: {{item.payload.doc.data().age}}</small>&ndash;&gt;-->
    <!--      </div>-->

    <!--      <div class="col col-md-2 actions-col">-->
    <!--        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">-->
    <!--          <ion-icon class="icon" name="arrow-round-forward"></ion-icon>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

</ion-content>
