<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Order ID: {{ orderID }}

  <ion-item>
    <ion-label>D MMM YYYY H:mm</ion-label>
    <ion-datetime (ionChange)="test()" [(ngModel)]="date" displayFormat="D MMM YYYY H:mm" min="1997" max="2010"></ion-datetime>
  </ion-item>

Place Your Booking Now<br>

Here are the available dates:

<br>
<ion-button shape="round" color="primary" (click)="placePayment()" *ngIf="!imageURL" fill="outline"> Confirm Booking and Pay</ion-button>
</ion-content>
