<ion-content class="home-background">
	<ion-grid style="height: 100%">
		<ion-row justify-content-center align-items-center style="height: 100%">
			<ion-col
					class="ion-align-self-center"
					style="height:100%"
					size-xs="10"
					size-sm="8"
					size-md="6"
					size-lg="6"
			>
				<div class="transparentbox" [hidden]="submitUserData">
					<form #f="ngForm" validate (ngSubmit)="onSubmit(f)" style="height: 100%">
						<div class="contents">
							<img class="logo" src="../../assets/img/logo/trucksy_logo.png">
							<div id="form">
								<input class="input-field" id="firstName" type="text" [(ngModel)]="firstName"
									   #firstNameCtrl="ngModel"
									   name="firstName" placeholder="First Name" required
									   />

								<input class="input-field" id="lastName" type="text" [(ngModel)]="lastName"
									   required #lastNameCtrl="ngModel" name="lastName" placeholder="Last Name"/>

								<input class="input-field" id="username" type="text" [(ngModel)]="username"
									   required #usernameCtrl="ngModel" name="username" placeholder="Email"/>

								<input class="input-field" id="password" type="password" [(ngModel)]="password"
									   required #passwordCtrl="ngModel" name="password" placeholder="Password"/>

								<input class="input-field" id="cpassword" type="password" [(ngModel)]="cpassword"
									   required #cPasswordCtrl="ngModel" name="cPassword" placeholder="Confirm Password"/>

								<input class="input-field" id="hpnumber" type="number" [(ngModel)]="hpnumber" ng-pattern="/^[8-9][0-9]{8}$/"
									    #mobileNumberCtrl="ngModel" name="mobileNumber" placeholder="Mobile Number" required/>


								<ion-select align-items-center class="input-field" id="userType" (ionChange)="selectUserType()" [(ngModel)]="userType" placeholder="Select User Type" name="userType">
									<ion-select-option userType="user">User</ion-select-option>
									<ion-select-option userType="driver">Driver</ion-select-option>
								</ion-select>



								<!--Hide this button due to form limitations-->
								<button class="orangeButton" id="register" type="submit" fill="solid" color="primary" (click)="register()" hidden #registerbtn>Sign Up</button>

							</div>

							<div id="parent-recaptcha-container">
								<div id="recaptcha-container"></div>
							</div>

							<!--Click button id=register -->
							<button class="orangeButton" id="click-register" type="submit" fill="solid" color="primary" (click)="clickRegister()">Sign Up</button>





						</div>
					</form>
				</div>

					<ion-card *ngIf="submitUserData" class="card-otp">
						<ion-card-content>
							<div class="parent-center-container">
								<div>
									<div *ngIf="loginCodeSent==false">
										<p>A one-time password (OTP) will be sent to the following {{hpnumber}} number for verification:</p>
										<br>
										<div class="parent-center-container">
											<div>
												<button class="orangeButton" fill="solid" color="primary" (click)="sendLoginCode()">Send Code</button>
											</div>
										</div>

									</div>
									<br>

									<div *ngIf="loginCodeSent">
										<ion-item id="rounded-text-input">
											<ion-input type="text" name="code" [(ngModel)]="verificationCode" placeholder="Enter Verification Code Here" required></ion-input>
										</ion-item>
										<br>
										<div class="parent-center-container">
											<div>
												<button class="orangeButton" fill="solid" color="primary" (click)="verifyLoginCode()">Verify</button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</ion-card-content>
					</ion-card>






			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
